{% extends 'base.html' %}

{% load static %}

{% block title %} | Offered Sections {% endblock %}

{% block content %}

<div class="container mb-5">
  
<!-- Breadcrumb -->
<div class="container pt-3">
  <nav aria-label="breadcrumb">
              <ol class="breadcrumb" style="background-color: #FFF;">

              <li class="breadcrumb-item">
                  <a href="{% url 'index' %}" class="text-dark">
                  <i class="fas fa-home"></i> Home</a>
              </li>

              {% if user.is_authenticated %}
                <li class="breadcrumb-item text-capitalize"> Offered Sections</li>
              {% endif %}
              </ol>
              
  </nav>
</div>
<!-- Breadcrumb -->

<!-- Alerts -->
<!-- {% include 'partials/_alerts.html' %} -->

<!-- dashboard content -->
<div class="container z-depth-1 pb-3">
  <div class="row">

    <!-- sidebar -->
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 offset-xl-0 my-3 py-1">
        
      {% include 'partials/_dashboard_base.html' %}

    </div>

    

    <!-- content -->
    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 my-3" >

      <!-- student info and available courses  -->
      <div class="row">
        
        <!-- Student information -->
        <div class="row">
          <div class="col text-capitalize">
            student information
          </div>
        </div>
        {% if this_user %}
          <div class="table-responsive">
            <table class="table table-hover">

              <thead>
                <tr class="text-capitalize">
                  <th scope="col">name</th>
                  <th scope="col">department name</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>{{ this_user.user.get_full_name}}</td>
                  <td>{{ this_user.dept_name }}</td>
                </tr>
              </tbody>

            </table>
          </div>
        {% endif %}
        
        <!-- Showing registered teaches for this instructor user -->
        <div class="row">
          <div class="col text-capitalize">
            registered courses
          </div>
        </div>
        {% if teaches_queryset %}
          <div class="row">
            <div class="col">

              <table class="table table-hover">
                <thead>
                  <tr class="text-capitalize">
                    <th scope="col">#</th>
                    <th scope="col">course id</th>
                    <th scope="col">title</th>
                    <th scope="col">department name</th>
                    <th scope="col">semester</th>
                    <th scope="col">year</th>
                    <th scope="col">building</th>
                    <th scope="col">room_number</th>
                    <th scope="col">time_slot_id</th>
                  </tr>
                </thead>
                <tbody>
  
                  {% for item in teaches_queryset %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{ item.courseid.courseid }}</td>
                      <td>{{ item.courseid.courseid.title }}</td>
                      <td>{{ item.courseid.courseid.dept_name }}</td>
                      <td>{{ item.semester }}</td>
                      <td>{{ item.year }}</td>
                      <td>{{ item.semester.building }}</td>
                      <td>{{ item.semester.room_number }}</td>
                      <td>{{ item.semester.time_slot_id.day }} - {{ item.semester.time_slot_id.start_hr }}:{{ item.semester.time_slot_id.end_hr }}</td>
                      
                    </tr>
                  {% endfor %}
                  
                  
                </tbody>
              </table>

              
            </div>
          </div>
        {% endif %}


      </div>


      <!-- registering in sections -->
      <div class="row">
        <div class="col text-capitalize">
          select sections to teach
        
          <form method="post">
            {% csrf_token %}
            
            <table class="table table-hover">
              <thead>
                <tr class="text-capitalize">
                  <th scope="col">#</th>
                  <th scope="col">course id</th>
                  <th scope="col">title</th>
                  <th scope="col">department name</th>
                  <th scope="col">semester</th>
                  <th scope="col">year</th>
                  <th scope="col">building</th>
                  <th scope="col">room_number</th>
                  <th scope="col">time_slot_id</th>
                  <th scope="col">select</th>
                </tr>
              </thead>
              <tbody>

                {% for item in sections %}
                  <div class="form-check">
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{ item.courseid.courseid }}</td>
                      <td>{{ item.courseid.title }}</td>
                      <td>{{ item.courseid.dept_name }}</td>
                      <td>{{ item.semester }}</td>
                      <td>{{ item.year }}</td>
                      <td>{{ item.building.building }}</td>
                      <td>{{ item.building.room_number }}</td>
                      <td>{{ item.time_slot_id.day }} - {{ item.time_slot_id.start_hr }}:{{ item.time_slot_id.end_hr }}</td>
                      <td><input class="form-check-input" type="checkbox" value="{{item.id}}" id="sectionid" name="sectionid"></td>
                    </tr>
                    
                  </div>
                {% endfor %}
                
                
              </tbody>
            </table>


            <button type="submit">Submit</button>
          </form>

        </div>

      </div>

    </div>
      
</div>
</div>

{% endblock %}