{% extends 'base.html' %}

{% load static %}

{% block title %} | Department Courses {% endblock %}

{% block content %}

<div class="container mb-5">
  
<!-- Breadcrumb -->
<div class="container pt-3">
  <nav aria-label="breadcrumb">
              <ol class="breadcrumb" style="background-color: #FFF;">

              <li class="breadcrumb-item">
                  <a href="{% url 'index' %}" class="text-dark">
                  <i class="fas fa-home"></i> Home</a>
              </li>

              {% if user.is_authenticated %}
                <li class="breadcrumb-item text-capitalize"> Department Courses</li>
              {% endif %}
              </ol>
              
  </nav>
</div>
<!-- Breadcrumb -->

<!-- Alerts -->
<!-- {% include 'partials/_alerts.html' %} -->

<!-- dashboard content -->
<div class="container z-depth-1 pb-3">
  <div class="row">

    <!-- sidebar -->
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 offset-xl-0 my-3 py-1">
        
      {% include 'partials/_dashboard_base.html' %}

    </div>

    

    <!-- content -->
    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 my-3" >

      <!-- Last login -->
      <div class="row">
        
        {% if courses %}
            <ol class="list-group list-group-numbered">
            {% for item in courses %}
                <li class="list-group-item">
                    {{item.title}}
                </li>
            {% endfor %}
            </ul>
        {% endif %}

      </div>

    </div>
      
</div>
</div>

{% endblock %}